header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(58, 201, 194);
}

nav li {
    float: right;
}

nav li a {
color: white;
text-decoration: none;
display: block;
text-align: center;
padding: 15px;
}

.activa {
    background-color: rgb(93, 211, 211) ;
}


nav li a:hover {
    background-color: rgb(8, 153, 153);
}
/* ------------------------------------------------------FIN HEADER--------------------------------------------- */
main {
    margin: 60px 10px 60px 10px;
}
/* -------------------------------------------------------FIN MAIN------------------------------------------------- */
#fotoPrincipal {
    max-width: 250px;
    justify-content: center;
}

#portada {
    display: flex;
}

#introduccion {
    color: rgb(8, 153, 153);
    margin: 20px;

}
/* ------------------------------------------------------INDEX---------------------------------------------------- */

#busqueda {
    display: flex;
}
#producto {
    display: flex;

}

#producto img {
    max-width: 300px;
}

#productoDatos {
    margin: 10px;
}

#productoDatos a {
    text-decoration: none;
    color: darkgray;
}

#productoDatos a:hover {
    color: rgb(8, 153, 153);
}

/* ------------------------------------------------------SEARCH--------------------------------------------------- */
footer {
    text-align: right;
    position: fixed;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(58, 201, 194);
}

footer p {
    margin: 10px;
}


